@import 'tailwindcss';
/* prettier-ignore */
@plugin 'tailwind-clamp' {
  minSize: 23.4375rem;
  maxSize: 80rem;
}
/* prettier-ignore */
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@import './overrides.css';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme {
  --color-orenda-purple: rgba(46, 0, 134, 1);
  --color-orenda-green: rgba(18, 120, 1, 1);
  --color-error-red: rgba(187, 35, 19, 1);
  --color-purple-mist: rgba(249, 246, 255, 1);
  --color-lavender-mist: rgba(236, 227, 255, 1);

  --background-image-dotted: url(/src/assets/dotted.png);

  --breakpoint-xs: 390px;

  --font-dm-sans: 'DM Sans', 'sans-serif';
  --font-heading: 'Ogg Text TRIAL', 'serif';
  --font-open-sans: 'Open Sans', 'sans-serif';
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@font-face {
  font-family: 'Ogg Text TRIAL';
  src: url('../assets/fonts/Ogg Text TRIAL regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400; /* Regular */
  font-display: swap;
}

@font-face {
  font-family: 'Ogg Text TRIAL';
  src: url('../assets/fonts/Ogg Text TRIAL medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500; /* Medium */
  font-display: swap;
}
@font-face {
  font-family: 'Ogg Text TRIAL';
  src: url('../assets/fonts/Ogg Text TRIAL medium-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600; /* Semi-bold or Medium-Bold */
  font-display: swap;
}

@font-face {
  font-family: 'Ogg Text TRIAL';
  src: url('../assets/fonts/Ogg Text TRIAL.ttf') format('truetype');
  font-style: normal;
  font-weight: 700; /* Default Bold */
  font-display: swap;
}

:root,
#root,
html,
body {
  min-height: 100%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    color: #070707;
    box-sizing: border-box;
    accent-color: #333;
  }
  body {
    @apply font-dm-sans bg-background text-foreground clamp-[text,sm,base];
  }

  /*Remove blue autofill colour  */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
  }

  /* Customize input:date picker icon */
  input[type='date']::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    display: block;
    background: url('../assets/calendar_icon.svg') no-repeat;
    background-size: 1.25rem;
    width: 1.125rem;
    height: 1.125rem;
    border-width: thin;
    z-index: 1;
  }

  /* Remove input buttons for number type */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  /* ...for Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer utilities {
  .error {
    @apply mt-1 text-xs text-[#d32f2f];
  }

  .padding-inline {
    @apply sm:clamp-[px,8,12] px-5;
  }
  .input-base {
    @apply clamp-[text,sm,base] block w-full border-b border-[#D1D1D1] bg-transparent pb-2 outline-none;
  }

  .sublist-decimal {
    @apply my-4 list-decimal space-y-2 ps-1;
  }

  .sublist-disc {
    @apply my-4 list-disc space-y-2 ps-1;
  }
}

@layer components {
  .main {
    @apply sm:clamp-[px,8,12] bg-dotted clamp-[text,sm,base] min-h-dvh bg-[#f6f7fc] bg-cover bg-fixed px-5 py-16;
  }

  .main-container {
    @apply mx-auto max-w-[60rem];
  }

  .page-heading {
    @apply font-heading clamp-[text,3xl,2.625rem] clamp-[leading,2rem,3rem] mb-4 text-center font-bold;
  }

  .form-content {
    .fieldset {
      @apply clamp-[px,5,14] clamp-[pt,2,6] clamp-[pb,12,16] clamp-[mb,10,20] clamp-[gap-y,5,6] mx-auto grid max-w-[46.125rem] rounded-2xl border border-[#D6D6D6] bg-white;

      .heading {
        @apply clamp-[text,base,lg] font-medium;
      }
    }
  }

  .label {
    @apply clamp-[text,sm,base] mb-2 font-medium;
  }

  .legend {
    @apply font-heading clamp-[text,xl,2xl] clamp-[mb,3,6] text-center font-bold;
  }

  .provider-onboarding-form {
    .form-part {
      @apply rounded-3xl border-[#CECECE] sm:border sm:bg-white sm:py-12;
    }

    .fieldset {
      @apply clamp-[py,4,8] clamp-[mb,5,6] max-w-[42.5rem];

      .heading {
        @apply text-center text-base font-bold;
      }
    }
  }
}
